<h1>Article List</h1>

<% @articles.each do |article| %>
  <div>
    <a href="/articles/<%= article["id"] %>"><%= article["name"] %></a> by
    <a href="/articles/<%= article["user_id"] %>"><%= article["user_id"] %></a>
  </div>
<% end %>
