<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Knickipedia</title>
  <!-- <link rel="stylesheet" href="/styles/normalize.css"> -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
</head>
<body>
  <header>
    <div class="nav"> 
      <a href="/" class="homepage"><img src="/images/knicks-logo.png" height="42" width="42"></a>
      <div class="login_info">
        <% if user_login? == true %>
          <a href="/profile/<%=current_user%>" class="navlink">My profile</a>
          <form method="POST" action='/login'> 
            <input class="formlogin"type="hidden" name="_method" value="DELETE">
            <input class="buttonlogin" type="submit" value="Logout" name="logout">
          </form>

        <% else %>
          <a href="/new_user" class="navlink">New user?</a>
          <form method="POST" action='/login'>
            <input class="formlogin" name="email" placeholder="Your email" type="text">
            <input class="formlogin" name="password" placeholder="Your password" type="password">
            <input class="buttonlogin" type="submit" value="Log in">
          </form>     
        <% end %>

      </div>
    </div>

  </header>

  <div class="content">
  <%= yield%>
  </div>

  <script type="text/javascript" src="/scripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/scripts/moment.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>

</body>
</html>