
<!-- WHEN USER CANNOT SEE PAGE -->
<div class="center">
	<br>
	<br>
	<h3 class="margintop">Something went wrong:</h3>
	<br>
	<h2>You need to log in to do that!</h3>

</div>
<div class="clearrow"></div>